*~
*.csv
*.debug
*.dSYM
*.gcov
*.js.mem
*.map
*.mp4
*.o
*.out
*.pyc
*.swp
*.swo
*.wasm
*.wast
*-bak.cc
*-bak.cpp
*.dat
*.exe
*tmp.*
*-bak.*
*-bak2.*

.DS_Store
a.out
a.out.js

.vscode/

tmp/
**/bak/
**/BAK/

IPD-Memory
